.card {
  width: 100%;
  cursor: pointer;
  
  &__image-container {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: $card-height * 0.7;
    object-fit: cover;
  }

  &__title {
    @include h2;
  }

  &__categories {
    margin-bottom: 4px;
    line-height: 20px;
    text-align: justify;
    font-size: 0.87rem;
    color: #757575;

    @media (max-width: 1279px) {
      font-size: 0.8rem;
    }
  }

  &__eta {
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.87rem;
    background: #F5F5F5;

    @media (max-width: 1279px) {
      font-size: 0.8rem;
    }
  }
}
