.card {
  width: 100%;
  height: $card-height;
  cursor: pointer;

  &__img {
    width: 100%;
    height: $card-height * 0.7;
    object-fit: cover;

    &--loading {
      background-image: url(../styles/img/img-spinner.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    @include h2;
  }

  &__categories {
    margin-bottom: 4px;
    font-size: 0.87rem;
    color: #757575;
  }

  &__eta {
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.87rem;
    background: #F5F5F5;
  }
}
