@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/mixins";

@import "./components/Header";
@import "./components/HeaderInput";
@import "./components/RestaurantCard";
@import "./components/Footer";
@import "./components/FooterSelect";
@import "./components/Spinner";
@import "./components/Error";

@import "./pages/RestourantsPage";

html {
  @include scrollbar-style;
  font-family: Mont, Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.page {
  min-height: 100vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 1rem;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

a {
  text-decoration: none;
}
